<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1
            a(href="/") MAIN


        h1 About
            ul 
                li 
                    a(href="/about/company") company
                li 
                    a(href="/about/product") product
                li 
                    a(href="/about/cometoway") come to way

        h1 Solution
            ul
                li 
                    a(href="/solution/website") web site
                li 
                    a(href="/solution/was") was
                li 
                    a(href="/solution/erp") erp
                li 
                    a(href="/solution/groupware") groupware
                li 
                    a(href="/solution/shoppingmall") shoppingmall
                
        h1 Support
            ul
                li 
                    a(href="/support/onlineapply") onlineapply
                li 
                    a(href="/support/request") request
                li 
                    a(href="/support/documents") documents
        
        p This Is Erp Page